.form-group {
  display: flex;
  justify-content: space-between;
  flex: auto 1;
  margin-bottom: 1rem;
}

.form-group .form-control {
  margin-bottom: 0;
  margin-right: 1rem;
}

.form-group .form-control:last-child {
  margin-right: 0;
}

.form-control {
  position: relative;
  margin-bottom: 1rem;
}

.form-label {
  font-size: 0.75rem;
  font-weight: 400;
  display: block;
  margin-bottom: 5px;
}

.form-input {
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  width: 100%;
  min-width: 140px;
  height: 46px;
  padding: 6px 12px;
  outline: none;
}

.form-input:focus {
  border-color: navy;
}

.form-textarea {
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  width: 100%;
  min-width: 140px;
  padding: 6px 12px;
  outline: none;
  resize: none;
  font: 1rem Roboto, sans-serif;
}

.form-label-checkbox {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.checkbox {
  position: absolute;
  opacity: 0;
}

.checkbox-mask {
  pointer-events: none;
  width: 22px;
  height: 22px;
  border-radius: 4px;
  border: 1px solid #e1e1e1;
  margin-right: 0.5rem;
  position: relative;
  transition: border-color 270ms ease-out;
}

.checkbox:checked + .checkbox-mask {
  border-color: navy;
}

.checkbox-mask:after {
  content: "\2713";
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  font-size: 1.2rem;
  color: navy;
  transform: scale(0);
  transition: opacity 270ms ease-out, transform 270ms cubic-bezier(.19,.11,.51,1.34);
}

.checkbox:checked + .checkbox-mask:after {
  opacity: 1;
  transform: scale(1);
}

.form-actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-top: 1rem;
  border-top: 1px solid #e1e1e1;
}

.form-actions > * {
  margin-left: 1rem;
}

.btn {
  outline: none;
  border: 1px solid transparent;
  font-size: 0.85rem;
  text-transform: uppercase;
  font-weight: 600;
  padding: 6px 12px;
  transition: border-color 210ms linear, background-color 210ms linear;
  cursor: pointer;
  border-radius: 4px;
}

.btn-primary {
  background-color: navy;
  color: white;
}
.btn-primary:hover,
.btn-primary:focus {
  background-color: blue;
  border-color: navy;
}

.btn-secondary {
  background-color: none;
}

.btn-secondary:hover,
.btn-secondary:focus {
  background-color: #e1e1e1;
  border-color: grey;
}

.form-helper-text {
  font-size: 0.75rem;
  color: #e1e1e1;
}

.form-helper-text.error {
  color: red;
}
