.row {
  display: flex;
  flex: 0 1 auto;
  margin: 0 -0.5rem;
}

.row > * {
  margin: 0 0.5rem;
  flex: 0 0 auto;
}

.row--5 > * {
  width: calc(100% / 5);
}
.row--4 > * {
  width: calc(100% / 4);
}
.row--3 > * {
  width: calc(100% / 3);
}
.row--2 > * {
  width: calc(100% / 2);
}
