.o-list {
  list-style: none;
  padding: 0;
  counter-reset: listItem;
}

.o-list:before {
  content: attr(data-list-name);
  display: block;
  font-size: 1.15rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.o-list__item {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}
.o-list__item:before {
  counter-increment: listItem;
  content: counter(listItem);
  margin-right: 0.3rem;
  background-color: navy;
  color: white;
  border-radius: 50%;
  display: flex;
  font-size: 0.85rem;
  line-height: normal;
  width: 21px;
  height: 21px;
  align-items: center;
  justify-content: center;
}