* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

input[type="submit"], button {
  cursor: poniter;
}

body {
  font: 16px Roboto, sans-serif;
  font-weight: 400;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 50px 1fr;
  background-color: #f1f1f1;
}

.page-heading {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.main {
  grid-row: 2 / 3;
  grid-column: 3 / 4;
}
