.ol-colored {
  list-style: none;
  padding: 0;
  margin-bottom: 1.25rem;
  counter-reset: listItem;
}

.ol-colored__item {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}

.ol-colored__item:last-child {
  margin-bottom: 0;
} 

.ol-colored__item:before {
  counter-increment: listItem;
  content: counter(listItem);
  margin-right: 0.3rem;
  color: white;
  line-height: normal;
  font-size: 1rem;
  display: flex;
  width: 20px;
  height: 20px;
  align-items: center;
  justify-content: center;
  background-color: grey;
  border-radius: 50%;
}

.ol-colored__item:nth-child(1):before {
  background-color: orange;
}
.ol-colored__item:nth-child(2):before {
  background-color: green;
}
.ol-colored__item:nth-child(3):before {
  background-color: yellow;
  color: black;
}
.ol-colored__item:nth-child(4):before {
  background-color: lime;
  color: black;
}

.counter {
  counter-reset: counterItem;
}
.counter-item {
  margin-bottom: 0.3rem;
}
.counter-item:before {
  counter-increment: counterItem;
  content: counter(counterItem);
  margin-right: 0.5rem;
}