.section {
  text-align: center;
  width: 100%;
  padding: 2rem 0;
}

.section-blue {
  background-color: #34547A;
}

.project-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.project-list-item {
  display: inline-block;
  margin-left: 1rem;
}
.project-list-item:first-child {
  margin-left: 0;
}

.project-list-icon,
.project-list-text {
  display: inline-block;
  vertical-align: middle;
  color: white;
}
.project-list-text {
  text-align: left;
  margin-left: 10px;
}