.switcher {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 20px;
  border-radius: 25px;
  border: 1px solid grey;
  background-color: grey;
  margin-right: 5px;
  cursor: pointer;
}
.switcher:after {
  content: '';
  display: block;
  width: 18px;
  height: 18px;
  background: white;
  border-radius: 50%;
  transition: transform 270ms cubic-bezier(.19,.11,.51,1.34);
}
.switcher__input {
  visibility: hidden;
  position: absolute;
}
.switcher__input:checked ~ .switcher:after {
  transform: translateX(15px);
}

.switcher__input:checked ~ .switcher {
  background-color: dodgerblue;
  border-color: dodgerblue;
}