[data-tooltip] {
  position: relative;
  display: inline-block;
  text-decoration: underline dotted #888;
  color: #888;
  transition: color 210ms linear;
}

[data-tooltip]:hover {
  text-decoration: none;
  color: #111;
}

[data-tooltip]:before,
[data-tooltip]:after {
  opacity: 0;
  pointer-events: none;
  transition: opacity 210ms ease-out;
}

[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  opacity: 1;
}

[data-tooltip]:before {
  content: attr(data-tooltip);
  position: absolute;
  left: 50%;
  bottom: 100%;
  margin-bottom: 5px;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.75);
  color: white;
  width: auto;
  min-width: 100px;
  padding: 0.2rem 0.5rem;
  border-radius: 4px;
  font-size: 0.75rem;
  z-index: 2;
}

[data-tooltip]:after {
  content: '';
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  border-top: 5px solid rgba(0, 0, 0, 0.75);
  width: 0;
  height: 0;
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
}